<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<title>amuse yourself upload file or msg</title>
    <link rel="stylesheet" href="../styles/common.css">
	</head>
	<body>
    <form action="upload.php" method="post" enctype="multipart/form-data">
      <label for="file">Filename:</label>
      <input type="file" name="file" id="file" />
      <input type="text" name="name" placeholder="请输入重置名称xx.jpg" />
      <br />
      <input type="submit" name="submit" value="Submit" />
    </form>
	</body>
</html>
