* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: .16rem;
}

input,
textarea,
button,
select {
  font-family: "Microsoft YaHei";
  outline: 0;
  border: 0;
  background: none;
  -webkit-appearance: none;
}

a,
button,
input,
select,
textarea,
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus,
[onclick] {
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}
ul,
ol {
  list-style: none;
}
a {
  color: #666;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:hover,
a:focus {
  outline: 0;
  text-decoration: none;
}

a:active {
  star: expression(this.onFocus=this.blur());
}

html {
  font-size: 26.6666666666666667vw;
}

html,
body {
  height: 100%;
}
body {
  overflow: hidden;
}
/*clear float*/
.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.show {
  display: block !important;
}

/* 顶部导航栏 */
header {
  position: absolute;
  width: 100%;
  height: .4rem;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  z-index: 10;
}

header h1 {
  font-size: .16rem;
  line-height: .4rem;
  color: #333;
  text-align: center;
  font-weight: normal;
}
.show-name,
.set {
  position: absolute;
  top: 50%;
  font-size: .14rem;
  line-height: .2rem;
  color: #2879D9;
  transform: translateY(-50%);
}
.show-name {
  left: .2rem;
}
.set {
  right: .2rem;
}

/* 主内容栏 */
.main {
  height: 100%;
  padding: .5rem .12rem;
  overflow-y: auto;
  /* background: url(../images/amuseYourself/bg.jpg) no-repeat;
  background-size: cover; */
}

.mainBox {
  margin-bottom: .17rem;
}

.nameImg {
  float: left;
}

.nameImg img {
  display: block;
  width: .34rem;
  height: .34rem;
  border-radius: .04rem;
}

.tdBox {
  float:left;
  width: 80%;
  padding: 0 .13rem;
}

.name {
  display: none;
  margin-bottom: .05rem;
  color: #999;
  font-size: .15rem;
  line-height: 1;
}

.content,
.content1 {
  position: relative;
  display: inline-block;
  padding: .05rem .1rem;
  background: rgba(255, 255, 255, 1);
  border: 1px solid #e5e5e5;
  font-size: .16rem;
  line-height: .24rem;
  border-radius: .05rem;
  -webkit-border-radius: .05rem;
  -moz-border-radius: .05rem;
  vertical-align: top;
}

.content:before,
.content:after {
  content: "";
  display: block;
  position: absolute;
  top: .095rem;
  left: -.11rem;
  width: 0;
  height: 0;
  border: .06rem solid transparent;
  border-right: .06rem solid #fff;
  z-index: 1;
}

.content:after {
  left: -.12rem;
  border-right: .06rem solid #e5e5e5;
  z-index: 0;
}

/*本人*/
.mainPerson .nameImg,
.mainPerson .tdBox {
  float: right;
}

.mainPerson .tdBox {
  text-align: right;
}
.mainPerson .content1 {
  background-color: #9eea6a;
}
.mainPerson .content1:before,
.mainPerson .content1:after {
  content: "";
  display: block;
  position: absolute;
  top: .095rem;
  right: -.11rem;
  width: 0;
  height: 0;
  border: .06rem solid transparent;
  border-left: .06rem solid #9eea6a;
  z-index: 1;
}

.mainPerson .content1:after {
  right: -.12rem;
  border-left: .06rem solid #e5e5e5;
  z-index: 0;
}

/* 底部输入框 */
footer {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  width: 100%;
  bottom: 0;
  padding: .1rem 0;
  background-color: #e8e3e8;
  z-index: 10;
}

.characters {
  padding: 0 .1rem;
  font-size: .24rem;
  color: #666;
  line-height: .4rem;
  font-weight: bold;
}

.sim-input {
  flex: 1;
  padding: .1rem;
  background-color: #fff;
  border-radius: .04rem;
  font-size: .14rem;
  line-height: .2rem;
  color: #333;
  min-height: .4rem;
  word-break: break-word;
  -webkit-user-select: text;
}

.submit {
  padding: 0 .1rem;
  font-size: .16rem;
  color: #2879D9;
  line-height: .4rem;
}
/* 输入人名 */
.other-wrap {
  display: none;
  position: absolute;
  top: .46rem;
  right: .05rem;
  height: 0;
  background-color: #fff;
  opacity: 0;
  border-radius: .05rem;
  -webkit-border-radius: .05rem;
  -moz-border-radius: .05rem;
  transition: all .3s;
  z-index: 110;
}
.other-wrap.active {
  display: block;
  height: auto;
  opacity: 1;
}
.other-main {
  position: relative;
  display: inline-block;
  padding: .05rem .1rem;
  background: rgba(255, 255, 255, 1);
  border: 1px solid #e5e5e5;
  font-size: .16rem;
  line-height: .24rem;
  border-radius: .05rem;
  -webkit-border-radius: .05rem;
  -moz-border-radius: .05rem;
  vertical-align: top;
}

.other-main:before,
.other-main:after {
  content: "";
  display: block;
  position: absolute;
  top: -.11rem;
  right: .12rem;
  width: 0;
  height: 0;
  border: .06rem solid transparent;
  border-bottom: .06rem solid #fff;
  z-index: 1;
}

.other-main:after {
  bottom: -.12rem;
  border-bottom: .065rem solid #e5e5e5;
  z-index: 0;
}
.name-input {
  display: inline-block;
  padding: 0 .1rem;
  font-size: .14rem;
  line-height: .36rem;
}
.confirm,
.reset {
  display: inline-block;
  margin: 0 .03rem;
  padding: 0 .1rem;
  font-size: .14rem;
  line-height: .36rem;
  color: #fff;
  background-color: #2E6DA4;
  border-radius: .05rem;
  vertical-align: top;
}
.reset {
  background-color: #C0C0C0;
}
.mt20 {
  margin-top: .2rem;
}
/* 选择人物 */
.char-box {
  display: none;
  position: absolute;
  top: -.4rem;
  left: .05rem;
  height: 0;
  background-color: #fff;
  opacity: 0;
  border-radius: .05rem;
  -webkit-border-radius: .05rem;
  -moz-border-radius: .05rem;
  transition: all .3s;
  z-index: 110;
}
.char-box.active {
  display: block;
  height: auto;
  opacity: 1;
}
.char-wrap {
  position: relative;
  display: inline-block;
  padding: .05rem .1rem;
  background: rgba(255, 255, 255, 1);
  border: 1px solid #e5e5e5;
  font-size: .16rem;
  line-height: .24rem;
  border-radius: .05rem;
  -webkit-border-radius: .05rem;
  -moz-border-radius: .05rem;
  vertical-align: top;
}

.char-wrap:before,
.char-wrap:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -.11rem;
  left: .12rem;
  width: 0;
  height: 0;
  border: .06rem solid transparent;
  border-top: .06rem solid #fff;
  z-index: 1;
}

.char-wrap:after {
  bottom: -.12rem;
  left: .12rem;
  border-top: .065rem solid #e5e5e5;
  z-index: 0;
}

.char-item {
  display: inline-block;
  margin: 0 .05rem;
  padding: 0 .1rem;
  font-size: .16rem;
  color: #fff;
  line-height: .22rem;
  background-color: #2E6DA4;
  border-radius: .06rem;
}
.masker {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 1;
}